* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
    cursor: pointer;
    transition: all .4s;

    &:hover {
        color: aquamarine;
        text-decoration: underline;
    }
}

@media(min-width: 767px) {
    * {
        font-size: 32px;
    }
}

@media(max-width: 768px) {
    * {
        font-size: 20px;
    }
}